@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');
:root {
    --color-one: #166B8C;
    --color-two: #16778C;
    --color-three: #038C8C;
    --color-four: #CDD9C7;
    --color-five: #592202;
    --color-six: #111210;

    --heading-color: #CDD9C7;
    --body-text-color:#CDD9C7;
    --heading-font: 'Karla', sans-serif;
    --body-font: 'Karla', serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--color-two);
    color: var(--body-text-color);
    font-size: larger;
}
a {
    color: var(--heading-color);
    text-decoration: none;
}

ol, ul {
    list-style-type: none;
    padding: 0;
}

main h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    text-transform: uppercase;
}


.label {
    color: var(--heading-color);
}

.email {
    font-size: x-large;
}


header {
    padding: 2rem;
    font-size: small;
    background-color: var(--color-one);

}

.footer {
    padding: 0.5rem 2rem;
    background-color: var(--color-one);
}

.intro {
    padding-top: 2rem;
    background-color: var(--color-two);

}

.intro h2 {
    margin: 0;
}

.services {
    background-color: var(--color-one);
}

/* Card */
.card {
    text-align: center;
    padding: 0.5rem 2rem;
    transition: background-color 2s;
}

.card:hover {
    background-color: var(--color-five);
}