@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');
:root {
    -color-one: #142740;
    -color-one: #D9B07E;
    -color-one: #F2CDA0;
    -color-one: #F23E16;
    -color-one: #D93223;

    --bg: #142740;
    --heading-color: #F2CDA0;
    --body-text-color: #D9B07E;
    --card-bg: #142740;
    --label-bg: #4E7DA6;
    --heading-font: 'Karla', sans-serif;
    --body-font: 'Karla', serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--bg);
    color: var(--body-text-color);
    font-size: larger;
}
a {
    color: var(--heading-color);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.card {
    background-color: var(--card-bg);
    text-align: center;
    padding: 0.5rem;
}

.label {
    color: var(--heading-color);
}

.email {
    font-size: x-large;
}

header h1 {
    font-size: larger;
}