:root {
    --color-one: #05F29B;
    --color-two: #04BF7B;
    --color-three: #038C5A;
    --color-four: #F2F2F2;
    --color-five: #0D0D0D;

    --grad-one: linear-gradient(-45deg, var(--color-one), var(--color-one-a));
    --grad-two: linear-gradient(45deg, var(--color-two), var(--color-one));

    --font-one: 'Rubik', sans-serif;
    --font-two: 'Fjalla One', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--font-one);
    font-size: 5vmin;
    color: var(--color-four);
    background-color: var(--color-five);
}

a {
    color: var(--color-one);
    text-decoration: underline;
}

ol, ul {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-one);
    margin: 4vh 0;
}

/* Card */
.card {
    padding: 5vh 0;
    border-radius: 3rem;
}
.keyword {
    color: var(--color-one);
}

.main-container {
    margin: auto;
    width: 90vw;
    background-image: var(--grad-one);
    border-radius: 1px;
}

/* Header */
header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 35vh;
}

.logo {
    text-transform: uppercase;
}
.logo h1 {
    line-height: 3vmin;
    font-family: var(--font-two);
}
.logo a {
    font-family: var(--body-font);
    font-size: 5vmin;
    color: var(--color-two);
    text-decoration: none;
}

.first-name {
    display: inline-block;
    animation: gtm-animation 3s ease-in-out;
}

@keyframes gtm-animation {
    0% {
        transform: translate(10rem);
    }

    100% {
        transform: translateY(0);
    }
}

.second-name {
    display: inline-block;
    animation: lal-horizontal 2s ease-in-out;
}

@keyframes lal-horizontal {
    0% {
        transform: translate(-10rem);
    }

    100% {
        transform: translate(0);
    }
}


.intro {
    font-size: 9vmin;
    font-weight: bold;
}

.intro .p2 {
    padding-bottom: 4vmin;
}

.services h2 {
    padding-bottom: 3vmin;
}


