@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Changa&display=swap');
:root {
    --dark-orange: #F28705;
    --light-orange: #F29F05;
    --red: #D9042B;
    --violet: #270140;
    --golden: #F2B705;
    --heading-font: 'Changa', sans-serif;
    --body-font: 'Alegreya', serif;
}
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--violet);
    color: var(--golden);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
a {
    color: var(--light-orange);
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 1px dashed var(--red);
}
header a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
}

.nav li {
    display: inline-block;
}

/* Main */
main {
    font-size: larger;
    padding: 0 5%;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 5%;
    border-top: 1px dashed var(--red);
}

.social-list li {
    display: inline-block;
    padding: 5px;
}

.social-list img {
    width: 24px;
}