---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<article id="intro" class="intro card">
  <p class="p1">Hi. I'm <span class="keyword">Goutham</span>.<p>
  <p class="p2">I'm a <span class="keyword">web developer</span> living in Kochi, India.</p>
<p class="p3">I work with modern web technologies to build powerful online presence for startups, businesses and companies.</p>  
</article>

<article id="services" class="services card">
  <h2 class="label">Services</h2>
  <ul>
    <li>Web Design</li>
    <li>Django Backend Development</li>
    <li>Android App Development</li>
  </ul>
</article>

<!-- <section id="recent-works" class="card">
<h2 class="label">Recent Works</h2>
</section> -->


