---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<article id="intro" class="card">
  <h2 class="label">Web and Mobile Developer</h2>
 <p>I'm Goutham. I'm a writer and a programmer.  </p> 
<p>I enjoy exploring ideas and techniques that help us improve our lives and our surroundings.</p>  
</article>

<article id="services" class="card">
  <h2 class="label">Services</h2>
  <ul>
    <li>Web Design</li>
    <li>Django Backend Development</li>
    <li>Android App Development</li>
  </ul>


</article>


