<p>Copyright &copy; 2021 Goutham Lal. All rights reserved.</p>

<ul class="social-list">
    <li><a href="">Twitter</a></li>
    <li><a href="">Instagram</a></li>
    <li><a href="">Feed</a></li>
</ul>