<footer id="footer" class="card">
<h2 class="label">Have a project in mind?</h2>
<h3 class="label">Get in touch</h3>

<a class="email" href="mailto:gouthamlal@gmail.com">gouthamlal@gmail.com</a>

<ul class="social-list">
    <li><a href="https://www.linkedin.com/in/gouthamlal/">LinkedIn</a></li>
</ul>
</footer>