<footer id="footer" class="">
<h2 class="label">Have a project in mind?</h2>
<h3 class="label">Get in touch</h3>

<a class="email" href="mailto:gouthamlal@gmail.com">gouthamlal@gmail.com</a>

<ul class="social-list">
    <li><a href="">LinkedIn</a></li>
    <li><a href="">Github</a></li>
</ul>
</footer>