<!doctype html>
<html lang="en">
  <head>
      {% include "head.njk" %}

  </head>
  <body>
  <div class="main-container">

      {% include "header.njk" %}

    <main class="content {% if templateClass %} {{ templateClass }} {% endif %}">

      {{ content | safe }}
    </main>

      {% include "footer.njk" %}

    </div>
    <!-- Current page: {{ page.url | url }} -->

  </body>
</html>
